@import './scss-variables';

/* CSS Variables */
:root {
    --color-white: #fff;
    --color-black: #121212;
    --color-blue-400: #0045FF;
    --color-gray-100: #FBFBFB;
    --color-gray-200: #F1F1F1;
    --color-gray-300: #CBCBCB;
    --color-gray-400: #8B8B8B;
    --color-gray-500: #666666;
    --color-gray-600: #343434;
    --color-yellow-400: #FBD784;

    --rgb-white: 255, 255, 255;
    --rgb-black: 18, 18, 18;
    --rgb-blue-400: 0, 69, 255;
    --rgb-gray-100: 251, 251, 251;
    --rgb-gray-200: 241, 241, 241;
    --rgb-gray-300: 203, 203, 203;
    --rgb-gray-400: 139, 139, 139;
    --rgb-gray-500: 102, 102, 102;
    --rgb-gray-600: 52, 52, 52;
    --rgb-yellow-400: 251, 215, 132;

    --font-family-base: 'Open Sans', sans-serif;
    --font-family-head: 'Bentham', serif;

    --min-width: #{$min-width}rem; // Galaxy fold width is 280px
    --max-width: #{$max-width}rem;
    --base-padding: clamp(1.5rem, 4vw + 1rem, 4rem);
}
