.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &:local(.in-overlay-nav) {
        display: none;
        width: 100%;
        padding-top: 6rem;
        gap: 3rem;
        opacity: 0;
        transform: translate(0, 2.4rem);
        pointer-events: none;

        :global(.nav-transitioning) & {
            transition:
                opacity .2s ease-in-out,
                transform .2s ease-in-out;
        }

        :global(.nav-overlayMode) & {
            display: flex;
            transition-delay: .3s;
        }

        :global(.nav-overlayMode.nav-isOpen) & {
            pointer-events: initial;
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

.item {
    color: var(--color-gray-600);
    font-size: 2.4rem;

    &:hover,
    &:focus {
        color: var(--color-gray-500);
    }

    &:active {
        color: var(--color-gray-400);
    }
}

.name {
    display: none;
}
